<mat-sidenav-container autosize style="min-height: 100vh;">
    <mat-sidenav [mode]="isMobile ? 'over' : 'side'" [opened]="isMobile ? false : true">
        <mat-nav-list class="text-center">
            <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
                <mat-icon>menu</mat-icon>
            </button>
            <a mat-list-item>
                <span class="entry" routerLink="../home">
                    <mat-icon>house</mat-icon>
                    <span *ngIf="!isCollapsed">Dashboard</span>
                </span>
            </a>
            <a mat-list-item>
                <span class="entry" routerLink="./reservations">
                    <mat-icon> format_list_bulleted</mat-icon>
                    <span *ngIf="!isCollapsed">Your reservations</span>
                </span>
            </a>
            <a mat-list-item routerLink="./modify">
                <span class="entry">
                    <mat-icon>assignment_ind</mat-icon>
                    <span *ngIf="!isCollapsed">Account information</span>
                </span>
            </a>
            <a mat-list-item>
                <span class="entry" routerLink="./changepassword">
                    <mat-icon> vpn_key</mat-icon>
                    <span *ngIf="!isCollapsed">Change password</span>
                </span>
            </a>
            <a mat-list-item>
                <span class="entry" routerLink="./faq">
                    <mat-icon>info</mat-icon>
                    <span *ngIf="!isCollapsed">FAQ</span>
                </span>
            </a>
            <a mat-list-item>
                <span class="entry" routerLink="./Contactus">
                    <mat-icon> phone</mat-icon>
                    <span *ngIf="!isCollapsed">Contact Us</span>
                </span>
            </a>


        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="container-fluid" style="height: 100%;padding-top: 0 !important;">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>