<form [formGroup]="yourForm" (ngSubmit)="modify()" class="row" style="width: 75%;height: 100%; overflow-y:visible;">
    <div class="col-lg-8 col-md-12" style="width: 25%;  padding-left: 5%; margin-left: auto;">
        <div class="mb-3">
            <label class="form-label">
                ID
            </label>
            <input class="form-control" formControlName="idEtudiant" type="text">
            <div class="alert alert-danger"
                *ngIf="yourForm.get('idEtudiant')?.invalid && (yourForm.get('idEtudiant')?.touched || yourForm.get('idEtudiant')?.dirty)">
                <div *ngIf="yourForm.get('idEtudiant')?.errors?.['required']">Id Etudiant is required!</div>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">
                First Name
            </label>
            <input class="form-control" formControlName="famname" type="text">
            <div class="alert alert-danger"
                *ngIf="yourForm.get('famname')?.invalid && (yourForm.get('famname')?.touched || yourForm.get('famname')?.dirty)">
                <div *ngIf="yourForm.get('famname')?.errors?.['required']">First Name is required!</div>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">
                Last Name
            </label>
            <input class="form-control" formControlName="name" type="text">
            <div class="alert alert-danger"
                *ngIf="yourForm.get('name')?.invalid && (yourForm.get('name')?.touched || yourForm.get('name')?.dirty)">
                <div *ngIf="yourForm.get('name')?.errors?.['required']">Last Name is required!</div>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">
                Date Of Birth
            </label>
            <input class="form-control" formControlName="birthdate" type="date">
            <div class="alert alert-danger"
                *ngIf="yourForm.get('birthdate')?.invalid && (yourForm.get('birthdate')?.touched || yourForm.get('birthdate')?.dirty)">
                <div *ngIf="yourForm.get('birthdate')?.errors?.['required']">Date Of Birth is required!</div>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">
                CIN
            </label>
            <input class="form-control" formControlName="cin" type="text">
            <div class="alert alert-danger"
                *ngIf="yourForm.get('cin')?.invalid && (yourForm.get('cin')?.touched || yourForm.get('cin')?.dirty)">
                <div *ngIf="yourForm.get('cin')?.errors?.['required']">CIN is required!</div>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">
                Email
            </label>
            <input class="form-control" formControlName="email" type="email">
            <div class="alert alert-danger"
                *ngIf="yourForm.get('email')?.invalid && (yourForm.get('email')?.touched || yourForm.get('email')?.dirty)">
                <div *ngIf="yourForm.get('email')?.errors?.['required']">Email is required!</div>
                <div *ngIf="yourForm.get('email')?.errors?.['email']">Invalid email format!</div>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">
                University
            </label>
            <input class="form-control" formControlName="ecole" type="text">
            <div class="alert alert-danger"
                *ngIf="yourForm.get('ecole')?.invalid && (yourForm.get('ecole')?.touched || yourForm.get('ecole')?.dirty)">
                <div *ngIf="yourForm.get('ecole')?.errors?.['required']">University is required!</div>
            </div>
        </div>

        <div class="mb-3" >
            <input class="btn btn-primary" type="submit" value="Modify"  />
        </div>
    </div>

    <div class="col-lg-4 col-md-12">
        <div formArrayName="interests" style=" margin: auto; text-align-last: center;">
            <h2 style="padding-bottom: 5%;">Interests</h2>
            <div *ngFor="let interest of getInterestControls(); let i=index" class="py-1 d-flex">
                <label for="interest{{ i }}" class="my-2">Interest {{i+1}} :</label>
                <input id="interest{{ i }}" type="text" [formControlName]="i" class="mx-2" style="height: 2.5rem;">
                <div class="div-btn text-center">
                    <button (click)="removeInterest(i)" class="btn btn-primary">Remove interest</button>
                </div>        
            </div>
        </div>
        <div class="div-btn py-5 text-center">
            <button (click)="addInterest()" class="btn btn-primary">Add another interest</button>
        </div>

    </div>
</form>