<div class="row" style="width: 75%;height: 100%; overflow-y:visible;">
    <div class="div-btn py-5 text-center">
        <button class="btn btn-primary" routerLink="./availablerooms">Make a new reservation</button>
    </div>
    <router-outlet></router-outlet>

    <div class="col-lg-8 col-md-12" style="width: 25%;  padding-left: 5%; margin-left: auto;">
        <div *ngFor="let reservation of reservations; let i=index" class="py-1 d-flex">
            <label for="reservation{{ i }}" class="my-2">reservation {{i+1}} :</label>
            <input id="reservation{{ i }}" type="text" [formControlName]="i" class="mx-2" style="height: 2.5rem;">
            <div class="div-btn text-center">
                <button class="btn btn-primary">Remove reservation</button>
            </div>
        </div>

    </div>

</div>